p {
    color50: #fee761;
    color100: #feae34;
    color200: #f77622;
    color300: #e43b44;
    color325: #63c74d;
    color350: #3e8948;
    color375: #265c42;
    color400: #2ce8f5;
    color500: #0095e9;
    color600: #124e89;
    color700: #5a6988;
    color800: #262b44;
    color900: #181425;

    color50: #d9e5ff;
    color100: #b3cbff;
    color200: #8db0ff;
    color300: #6696ff;
    color400: #407cff;
    color500: #1a62ff;
    color600: #0047e1;
    color700: #0035a9;
    color800: #262b44;
    color900: #181425;
}