@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/Verdana.woff2') format('woff2');
}

@font-face {
  font-family: 'Verdana';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/Verdana.woff2') format('woff2');
}

@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/rockwell-regular.woff2') format('woff2');
}
