---
title: About
layout: page
permalink: /about/index.html
description: 'Marc Duiker profile and contact information.'
sizes: '(max-width: 360px) 100vw'
widths: [360]
---
      <p>Hey there! I'm Marc Duiker, a creative technologist who enjoys helping people to achieve more every day 🚀.</p>
    
    <div
      class="grid region"
      style="--region-space-top: var(--space-s);--region-space-bottom: var(--space-s);"
    >
      {% for pic in about %}
        <custom-card img-square style="--card-bg: var(--color-bg)">
          {% image "./src/assets/images/about/" + pic.filename, pic.name, null, "lazy", null, sizes, widths %}
        </custom-card>
      {% endfor %}
      </div>
      <p>Professionally I work as a Sr Developer Advocate at <a href="https://diagrid.io">Diagrid</a>, where I focus on improving the developer experience for the <a href="https://dapr.io">Dapr OSS project</a>.</p>
      <p>I've been active in developer communities since 2012. I have a long history with .NET, Azure, serverless ⚡️, and event-driven architectures ✉️. For the last two years I've been creating content about Dapr, the Distributed Application Runtime, and leading the community management acitivies for the project.</p>
      <p>My creative side has many facets. I enjoy hand-coding visual and interactive experiences with JavaScript, drawing pixel art, and creating soundscapes with my modular synth 🎛️.</p>
      <p>If you want to be more involved in developer communities and don't know where to start, feel free to reach out to me. You can also ping me if you want to submit a session to a conference and would like to have your CfP or presentation reviewed.</p>

  <article class="full  section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "seperator" %}
    <section class="feature section__inner wrapper">
    <h2>Other places you can find me</h2>
    <ul>
        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <li>
            <a href="{{ value }}" rel="me">
              <span class="visually-hidden">{{ key | capitalize }}</span>
              {% svg 'platform/' + key %} {{ key | capitalize }}
            </a>
            </li>
          {% endif %}
          
        {% endfor %}
  </ul>
    </section>

  {% svg "divider/soft-bottom", null, "seperator" %}
</article>




