{% if meta.viewRepo.allow %}
  <hr />
  <p class="text-step-min-1">
    {{ meta[page.lang].blog.githubEdit }}
    {% if 'codeberg.org' in pkg.repository.url %}
      {% set repoPath = pkg.repository.url | url | replace('.git', '/src/branch/main/') %}
    {% else %}
      {% set repoPath = pkg.repository.url | url | replace('.git', '/tree/main/') %}
    {% endif %}
    <a href="{{ repoPath }}{{ page.inputPath | replace('./', '', 1) }}"
      >{{ meta.viewRepo.infoText }}</a
    >.
  </p>
{% endif %}
