{% if meta.viewRepo.allow %}
  <hr />
  <p class="text-step-min-1">
    {{ meta[page.lang].blog.githubEdit }}
    <a href="{{ pkg.repository.url | url | replace('.git', (pkg.repository.url contains 'codeberg.org' ? '/src/branch/main/' : '/tree/main/')) }}{{ page.inputPath }}"
      >{{ meta.viewRepo.infoText }}</a
    >.
  </p>
{% endif %}
